@model IEnumerable<Ogloszenia_Studenckie.Ogloszenie>
@{
    ViewBag.Title = "Strona Główna";
}

<style>
.news{
  padding:40px;
  display:inline-block;
  width:100%;
}

.achiv {
    width: 178px;
    height: auto;
    position: relative;
    overflow: hidden;
    background:white;
    margin:12px;
    border-radius: 88px 88px 50% 50%;
    text-align:center;
    border:2px solid #e3e3e3;
    display:inline-block;
}
    .achiv:hover {
    background:#e3e3e3;
    text-decoration:none;
    }
.image-rounder {
    width: 170px;
    height: 170px;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border:2px solid #e3e3e3;
    margin:2px;
}
.rounded-image {
    display: inline;
    margin: 0 auto;
    height: 100%;
   position: absolute;
  left: 50%;
  top: 50%;
   -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.name{

  padding:10px;
  padding-top:0;
}
.price{
  background:#e3e3e3;
  padding-bottom:20px;

}
</style>
<div class="panel-title text-center"><h2>Najnowsze ogłoszenia</h2></div>
<div>
    <div class="news well">
        <center>
            @foreach (var rec in Model)
            {
            <a href="@Url.Action("Details", "Ogloszenies", new { ID = @rec.ID_Ogloszenie })" class="achiv">
                <div class="image-rounder">
                    <img src="http://www.electricvelocity.com.au/Upload/Blogs/smart-e-bike-side_2.jpg" class="rounded-image" />
                </div>
                <div class="name">
                    @rec.Opis
                </div>
                <div class="price">
                    <b>@rec.Cena</b>
                </div>
            </a>
            }
        </center>
    </div>
</div>